<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()" *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon (click)="sidenav.toggle()" *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <h1>BeautifulMind</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="height: 100vh;" >
  <mat-sidenav #sidenav style="width: 250px;">
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item href="">Contact</a>
      <a mat-list-item href="">About Us </a>
      <a mat-list-item href="">Contact Us</a>
      <a mat-list-item href="">Help</a>
     -->
     <div  style="text-align: center;margin: 0 auto;width: 100%;display: flex;justify-content: center;">
      <img style="width: 70px;" class="avatar mat-elavation-z8" src="https://cdn4.vectorstock.com/i/thumb-large/50/08/news-alerts-breaking-logo-tv-design-element-vector-24575008.jpg" alt="">
     </div>
 
      <h4>Let's Program</h4>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let source of sources"  >
        <button mat-button class="menu-button" (click)="getSource(source)">
          <mat-icon>event_note</mat-icon>
          <span>{{source.name}}</span>
        </button>
      </ng-container>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="content mat-elevation-z4">
    <section class="text-gray-600 bg-gray-100 body-font">
      <div class="container px-5  mx-auto max-w-7x1">
        <div class="flex flex-wrap w-full mb-4 p-4">
          <div class="w-full mb-6 lg:mb-0">
            <h1 class="sm:text-4xl text-2xl font-medium title-font mb-2 text-gray-900">{{selectedNewsChannel}}</h1>
            <div class="h-1 w-60 bg-indigo-500 rounded"></div>
          </div>
        </div>
        <div class="flex flex-wrap -m-4">
          <ng-container *ngFor="let article of articles">
            <div class="xl:w-1/3 md:w-1/2 p-4" >
              <div class="bg-white p-6 rounded-lg">
                <img
                  class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72  rounded w-full object-cover object-center mb-6"
                  [src]="article.urlToImage" alt="Image Size 720x400">
                <div class="flex justify-between">
                  <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Author: {{article.author}}
                  </h3>
                  <h4 style="text-overflow: ellipsis;
                              display: -webkit-box;" class="tracking-widest text-gray-800 text-sm">
                    {{article.publishedAt | date:'medium'}}</h4>
                </div>
                <h2 style="font-size: 1.2em !important;" class="text-sm text-gray-900 font-medium mb-4 overflow-hidden">{{article.title}}</h2>
                <p  class="leading-relaxed text-base" [innerHtml]="article.description"></p><span><a
                    class="text-blue-500" href="{{article.url}}" target="_blank">read more....</a></span>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </section>
    <!-- <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div> -->
  </mat-sidenav-content>

</mat-sidenav-container>




<!-- <mat-sidenav-container>
  <mat-sidenav #sideNav ="matSidenav" > 
    <img src="" alt="" class="avatar mat-elavation-z8">
    <h4>Let's Program</h4>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>event_note</mat-icon>
      <span>News</span>
    </button>
  </mat-sidenav>
</mat-sidenav-container> -->